@using LMS.UI.Pages.Shared.Components.FormModal;
@using LMS.Domain.Entities;
@using Newtonsoft.Json;
@inject IConfiguration config
@{
    var h = config.GetValue<string>("APIURL");
}
@model Lookup

<div class="text-right">
    <a onclick="jQueryModalGet('/LMS/Lookup/CreateOrEdit', 'Lookup')" class="btn btn-primary mt-4">Create</a>
</div>
<div id="viewAll" class="ml-4"></div>
@section Scripts{
    <script>
        $(document).ready(() => {
            loadData();
        });

        function loadData() {
            $('#viewAll').load('/LMS/Lookup/LoadAll');
        }
    </script>
    
}